<div>
    <label for="insertUser">Insert User:</label>
    <input type="text" placeholder="Name" [(ngModel)]="this.newUser.name" [ngModelOptions]="{standalone: true}"/>
    <input type="text" placeholder="Blog" [(ngModel)]="this.newUser.blog" [ngModelOptions]="{standalone: true}"/>
    <input type="text" placeholder="Age" [(ngModel)]="this.newUser.age" [ngModelOptions]="{standalone: true}"/>
    <input type="text" placeholder="Location" [(ngModel)]="this.newUser.location" [ngModelOptions]="{standalone: true}"/>
    <button (click)="insertUser()"> Insert User </button>
</div>

                        <label for="Name">Name</label>

                        <label for="Blog">Blog</label>

                        <label for="Age">Age</label>

                        <label for="Location">Location</label>
<div>
    <label for="editUser">Edit User:</label>
    <input type="text" placeholder="Name" [(ngModel)]="this.editUser.name" [ngModelOptions]="{standalone: true}"/>
    <input type="text" placeholder="Blog" [(ngModel)]="this.editUser.blog" [ngModelOptions]="{standalone: true}"/>
    <input type="text" placeholder="Age" [(ngModel)]="this.editUser.age" [ngModelOptions]="{standalone: true}"/>
    <input type="text" placeholder="Location" [(ngModel)]="this.editUser.location" [ngModelOptions]="{standalone: true}"/>
    <button (click)="updateUser()"> Edit User </button>
</div>

            <div *ngFor="let user of users" (click)="setEditUser(user)">
                <div>
                    {{user.name}}
                </div>
                <div>
                    {{user.blog}}
                </div>
                <div>
                    {{user.age}}
                </div>
                <div>
                    {{user.location}}
                </div>
                <div>
                    <button (click)="deleteUser(user)">Delete</button>
                </div>
            </div>
