<div class="row">
        <div class="about col-md-4">
            <div class="about-left">
                <img src="https://avatars3.githubusercontent.com/u/23366786?s=460&v=4" alt="">
            </div>
        </div>
        <div class="about col-md-8">
            <div class="about-right">
                <p class="about-me text-justify">Hello, je suis <b>Daphné</b>, j'ai 26 ans et je vis à Paris.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Veniam, incidunt, officiis. Autem, quos repellendus.
                    A quas explicabo provident tenetur ipsam, alias minus,
                    sint saepe veniam aperiam excepturi totam laudantium dolorem.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Veniam, incidunt, officiis. Autem, quos repellendus.
                    A quas explicabo provident tenetur ipsam, alias minus,
                    sint saepe veniam aperiam excepturi totam laudantium dolorem.
                    Pour me contacter : <b>remalidaphne@gmail.com</b>
                </p>
            </div>
        </div>
</div>
