<div style="background : green;">
    <label for="editArticle">Edit Article:</label>
    <input type="text" placeholder="Title" [(ngModel)]="editArticle.title" [ngModelOptions]="{standalone: true}"/>
    <input type="text" placeholder="SubTitle" [(ngModel)]="editArticle.subTitle" [ngModelOptions]="{standalone: true}"/>
    <input type="text" placeholder="Body" [(ngModel)]="editArticle.body" [ngModelOptions]="{standalone: true}"/>
    <input type="text" placeholder="Author" [(ngModel)]="editArticle.author" [ngModelOptions]="{standalone: true}"/>
    <input type="text" placeholder="Links" [(ngModel)]="editArticle.links" [ngModelOptions]="{standalone: true}"/>

    <button (click)="updateArticle(editArticle)"> Edit Article </button>
</div>
